<div class="container">
    <div>
        <div class="row col-md-6 col-sm-12 margin-bottom">
            <div class="col-md-6 col-xs-12 pointer" ng-click="reload()">
                <img src="/assets/images/bitcoin.png" style="max-height: 150px; max-width: 150px"
                     class="img-responsive center-block"
                     alt="Responsive image">
            </div>
            <div class="col-md-6 col-xs-12 pointer margin-bottom" ng-click="reload()">
                <h1 ng-class="{'text-success': btc.up, 'text-danger': btc.up == false}" class="text-center v-center">
                    {{btc.amount | currency: '€'}}
                </h1>
            </div>

            <div class="col-xs-12 margin-top">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>Old</th>
                        <th>Current</th>
                        <th>%</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="obj in btc_data | orderBy: 'order'">
                        <td>{{obj.name}}</td>
                        <td>{{obj.amount}}</td>
                        <td>{{btc.amount}}</td>
                        <td ng-class="{'text-success': (btc.amount / (obj.amount / 100)) > 100, 'text-danger': (btc.amount / (obj.amount / 100)) < 100}">{{((btc.amount / (obj.amount / 100)) - 100) | number: 2}}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row col-md-6 col-sm-12  margin-bottom" >
            <div class="col-sm-12 col-md-6 pointer" ng-click="reload()">
                <img src="/assets/images/ethereum.png" style="max-height: 150px; max-width: 150px"
                     class="img-responsive center-block"
                     alt="Responsive image">
            </div>
            <div class="col-sm-12 col-md-6 pointer margin-bottom" ng-click="reload()">
                <h1 ng-class="{'text-success': eth.up, 'text-danger': eth.up == false}" class="text-center v-center">
                    {{eth.amount | currency: '€'}}
                </h1>
            </div>
            <div class="col-xs-12 margin-top">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>Old</th>
                        <th>Current</th>
                        <th>%</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="obj in eth_data | orderBy: 'order'">
                        <td>{{obj.name}}</td>
                        <td>{{obj.amount}}</td>
                        <td>{{eth.amount}}</td>
                        <td ng-class="{'text-success': (eth.amount / (obj.amount / 100)) > 100, 'text-danger': (eth.amount / (obj.amount / 100)) < 100}">{{((eth.amount / (obj.amount / 100)) - 100) | number: 2}}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="margin-top">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Holding</th>
                <th>Amount</th>
                <th>Value</th>
            </tr>
            <tbody>
            <tr>
                <td>Roland</td>
                <td>{{btc.base}}</td>
                <td>0.11549</td>
                <td>{{(0 * eth.amount) + (btc.amount * 0.11549)| currency: '€'}}</td>
            </tr>
            <tr>
                <td>Jelle</td>
                <td>{{eth.base}}</td>
                <td>19,0091</td>
                <td>{{(19.0091 * eth.amount) + (btc.amount * 0) | currency: '€'}}</td>
            </tr>
            <tr>
                <td>Ellen</td>
                <td>{{eth.base}}</td>
                <td>2.55381</td>
                <td>{{(2.55381 * eth.amount) | currency: '€'}}</td>
            </tr>
            <tr>
                <td>Isah</td>
                <td>{{eth.base}}</td>
                <td>0.12769</td>
                <td>{{(0.12769 * eth.amount) | currency: '€'}}</td>
            </tr>
            <tr>
                <td>Ole</td>
                <td>{{eth.base}}</td>
                <td>0.12769</td>
                <td>{{(0.12769 * eth.amount) | currency: '€'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
